<label for="preg" class="rem">Usuario: </label>
<br>
<input type ="text" id="username" name= "user[username]" value= "<%=user.username %>"/><p>

<label for="resp" class="rem"> Contraseña: </label>
<br>
<input type="password" id="password" name="user[password]"/> <p>

<input type="submit" value="Enviar">
<a href="/"><button type="button">Cancelar</button></a>
