<form method="get" action ='/quizes/<%= quiz.id %>/answer'>

	Pregunta: <%= quiz.pregunta %> <p><br>
	Respuesta:<%= quiz.respuesta %>
	<input type="text" name ="respuesta" value="respuesta" />
	<input type="submit" value="Enviar">
</form>
